.page_title{
	border-bottom-style:solid;
	border-width: 5px;
	margin-bottom:20px;
}

.page_title h1 {
  text-align: center;
  font: 5em 'Droid Sans', serif;
  font-weight: bold;
}

.page_title h2 {
  text-align: center;
  font: 2.5em 'Arvo', serif;
  font-weight: bold;
  margin-bottom: 20px;
}

#profile_pic{
	float:left;
	border-radius:80px 80px;
	margin-right: 20px;
}

.section{
	font: 2.9em 'Arvo', serif;
}

.date{
	text-align: center;
}

.left_line{
	border-left-style:solid;
	border-width: 3;
	margin-top:20px;
}

.job{
	margin-top:5px;
}

p,h1,h2,h3,h4,h5,h6{
	font-family: 'Droid Sans', serif;
}

#contact{
	margin-top:20px;
	text-align: center;
	padding-top:10px;
}

#mail_icon{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.page{
	margin-top:40px;
	margin-bottom: 40px;
	margin-right: 80px;
	margin-left: 80px;
}



