.page_title{
	border-width: 5%;
	margin-bottom:5%;
}

.page_title h1 {
  text-align: center;
  font: 5em, serif;
  font-weight: bold;
}

.page_title h2 {
  text-align: center;
  font: 2.5em 'Arvo', serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.row{
	padding:2%;
}

#line{
	border-bottom:solid;
	margin:1%;
}

/*#profile_pic{
	float:left;
	border-radius:80px 80px;
	margin-right: 20px;
	height:135px;
	width:180px;
}*/


#bio{
	padding: 5%;
	padding-right:10%;
	padding-top:10%;
	font-size:1.1em;
}

#profile_pic{
	height:600px;
	padding:2%;
}

/*.section{
	font: 2.9em 'Arvo', serif;
	margin-left:3%;
}

/*.date{
	text-align: center;
}

/*.left_line{
	border-left-style:solid;
	border-width: 3;
	margin-top:20px;
}*/

.job{
	margin-top:5px;
}

p,h1,h2,h3,h4,h5,h6,li,a{
	font-family: 'Droid Sans', serif;
}

#contact{
	margin-top:20px;
	text-align: center;
	padding-top:10px;
}

#mail_icon{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*.page{
	margin-top:40px;
	margin-bottom: 40px;
	margin-right: 80px;
	margin-left: 80px;
}*/

.skills{
	margin-top:20px;
}

.container{
	background-color:#FFF;
	margin-top:5%;
	margin-bottom:5%;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;


}

}

